.active-circle {
  width: 1em;
  margin-top: 0.3em;
  padding: 0%;
  height: 1em;
  background: #7CDD6C;
  border-radius: 50%
}
.inactive-circle {
  width: 1em;
  margin-top: 0.3em;
  padding: 0%;
  height: 1em;
  background: #A8A8A8;
  border-radius: 50%
}
.active-button{
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.04rem;
  border-color: #ffc42b;
  
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
}
.inactive-button{
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
  color: #A8A8A8;
  border-style: solid;
  border-width: 0.09rem;
  border-color: #A8A8A8;
}
.rounded_borders{
  border-radius: 50000px;
}
#column-headers{
  color: #ffc42b;
  font-weight: 500;
}
#stud-table{
  border-top: 2px #ffc42b solid;
}
#student-list-footer{
  color: #ffc42b;
}
#num-rows-selector{
  margin-right: 12px;
}
.page-navigator-btn{
  border-radius: 0.4rem;
  border-color: #ffc42b;
  border: 1px solid;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
}
.student-list-table-container{
  padding-left: 25px;
  padding-right: 25px;
}
.csv-btn{
  float: right;
  border: none;
  background-color: inherit;
  color: goldenrod;
}
.ng-star-inserted{
  text-align: center;
}
@media screen and (max-width: 431px) {
  #stud-table{
    color: #ffffff;
  }
  /* .csv-btn{
    display: none;
  } */
  .first-column{
    color: #ffce5d;
  }
}