<table class="table">
    <thead>
      <tr>
        <th scope="col">Pic</th>
        <th scope="col">Roll Number</th> 
        <th scope="col">Name</th>
        <th scope="col">Room</th>
        <th scope="col">Hostel</th>
        <th scope="col">Mess Allowed Status</th>
      </tr>

      <!-- <button class="btn btn-primary" (click)="getList(false)" >Next Page</button> -->
    </thead>
    <tbody>
      <tr *ngFor="let stud of studentInfoList">
        <td> <img style="max-width: 40%" [src]="studentImageMap.get(stud[0])" alt="Place image title" > </td>
        <td>{{stud[0]}}</td>
        <td>{{stud[1].fullname}}</td>
       <!-- <td>{{stud[1].mess_allowed}}</td> -->
        <td>{{stud[1].room}}</td>
        <td>{{stud[1].hostel}}</td>
        <td>
            <!-- <div *ngIf="stud[1].mess_allowed" class="d-flex flex-row mt-3"> -->
            <div *ngIf="stud[1].mess_allowed">
              <!-- <div class="d-flex flex-row"><span style="color: green;" class="px-1">Activated</span></div> -->
              <button type="button" class="btn btn-outline-dark rounded_borders py-0" id="{{stud[1].roll}}" (click)="toggl(stud[1].roll)">
                <div class="container px-1 py-0">
                  <div class="row">
                <div class="col px-0 align-items-center ">
                  <div class="align-self-center active_circle"></div>
                </div>
                <div class="col px-1 py-0">Activate</div>
                  </div>
                </div>
              </button>
            </div>
            <!-- <div *ngIf="!stud[1].mess_allowed" class="d-flex flex-row mt-3"> -->
            <div *ngIf="!stud[1].mess_allowed">
              <!-- <div class="d-flex flex-row"><span style="color: red ;" class="px-1">Deactivated</span></div> -->
              <button type="button" class="btn btn-outline-light" id="{{stud[1].roll}}" (click)="toggl(stud[1].roll)">Inactive</button>
            </div>
      </td>
      </tr>
    </tbody>
  </table>