.container{
    background-color: #FFFCF4;
}
h1{
    color: #FFC42B;
}
.section {
    display: flex;
    justify-content: space-around;
}
.section-info {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.badge {
    background-color: #FFC42B;
    color: #28282B;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    margin-bottom: 10px;
    display: inline-block;
}
.section-info h2 {
    margin-top: 0;
}
.section-info p {
    margin: 10px 0;
}
.section-info ul {
    margin: 10px 0;
    padding-left: 20px;
}
.timings {
    list-style-type: none;
    margin-top: 10px;
}
.timings strong {
    font-size: 1.1em;
}
#btn-div {
    display: none;
}

@media (max-width: 431px) {
    .container{
        padding: 0% 2%;
        background-color: #28272c;
    }
    .section {
        flex-direction: column; 
    }
    .section-info {
        width: 100%;
        font-family: "Open Sans", sans-serif !important;
        border: none;
        background-color: #ffffff;
        border-radius: 10px;
    }
    h2{
        font-family: "Open Sans", sans-serif !important;
        font-size: 20px;
        font-weight: 600;
    }
    h1{
        font-family: "Open Sans", sans-serif !important;
        font-size: 24px;
        font-weight: 600;
        color: #ffce5d;
    }
    #btn-div{
        display: flex;
        gap: 10px;
    }
    .mobile-landing-page-btn{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        color: #ffce5d;
        background-color: #28272c;
        border: 2px solid #ffce5d;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        margin: 0px 0px 20px;
    }
    #mobile-redirect-home:hover{
        background-color: #ffce5d;
        color: #28272c;
    }
}