<div class="container">
    <h1>Welcome To Mess-I :)</h1>
    <div class="rebate-info">
        <h2>For Rebate application</h2>
        <h3>Navigate to the Rebate section</h3>
        <h3>You will be able to see all your rebate applications and their status</h3>
        <h3>To submit an application click on New Request and fill out the details</h3> 
        <h3>To ensure that there is sufficient time for approval, please submit the application at least 2 days before the duration of rebate begins</h3> 
        <h3>You can only submit rebate for a duration more than 3 days and less than 30 days</h3>
    </div>
    <div class="guest-info">
        <h2>For Guest-Entry application</h2>
        <h3>Navigate to the guest-entry section</h3>
        <h3>Here you will be able to see all your guest entry applications with their statuses and your token number</h3>
        <h3>To make a new application, click on new request and fill in the appropriate details. You will see the current meal availability count</h3>
        <h3>You will be able to withdraw your application till the mess starting time for the respective meal</h3>
        <h3>Guest entries can only be made for a maximum of 3 days in advance</h3>
    </div>
    
</div>

