<div class="container">
    <h1>Welcome To Mess-I :)</h1>
    <div class="section">
        <div class="section-info rebate-info">
            <h2>For Rebate Application</h2>
            <p>Navigate to the Rebate section to:</p>
            <ul>
                <li>View all rebate applications and their status</li>
                <li>Submit a new application</li>
            </ul>
            <p>Please submit the application at least 2 days before the rebate begins.</p>
            <p>Rebates can be requested for durations between 3 and 30 days.</p>
        </div>
        <div class="section-info guest-info">
            <div class="badge">Beta</div>
            <h2>For Guest-Entry Application</h2>
            <p>Navigate to the Guest-Entry section to:</p>
            <ul>
                <li>View all today onward guest entry applications with statuses and token numbers</li>
                <li>Submit a new guest entry application</li>
            </ul>
            <p>You can withdraw your application until the mess starting time for the respective meal.</p>
            <p>Guest entries can be made for a maximum of 3 days in advance.</p>
            <p>Access to the mess is available to a limited number guests, the number varies across hostels</p>
            <p>Only individuals with an IITB card are permitted entry, and they must submit their ID cards at the security checkpoint. Individuals checking in are required  to provide their complete details, and the notation of +1 or +2, along with any guest  entry is not permitted.</p>
            <p>Even if a token number is generated as proof, the submission of ID cards remains compulsory. Guests are required to write their names against their corresponding token numbers in the mess entry register kept at the security desk.</p>
            <h3>Guest-Entry Timings:</h3>
            <ul class="timings">
                <li><strong>For H10:</strong></li>
                <li>Lunch: 12:00pm - 12:45pm & 2:00pm - 2:30pm</li>
                <li>Dinner: 7:30pm - 8:30pm</li>
            </ul>
        </div>
    </div>
    
    
</div>

