.main-container{
    min-height: 100vh;
    height:max-content;
    /* padding: 5rem 3rem; */
    padding: 4%;

    background-color: #fffcf4;
}
#header-container{
    height: max-content;
}

.page-title{
    font-size: 3rem;
}

.rebate-card-container{
    margin: 12px 0px;
}
#new-request-btn{
    background-color: #ffc659;
    border-color: #ffc659;
    border-radius: 120rem;

    padding-right: 24px;
    padding-left: 24px;

    float:right;    
    height: max-content;
    margin: auto 0px;

    font-weight: bold;
}