.main-container{
    min-height: 100vh;
    height:max-content;
    padding: 4%;

    background-color: #FFFCF4;
}
#header-container{
    height: max-content;
}
.page-title{
  border-bottom:3px solid #FFC42B;
}
#new-request-btn{
    background-color: #FFC42B;
    border-color: #FFC42B;
    border-radius: 120rem;

    padding-right: 24px;
    padding-left: 24px;

    float:right;    
    height: max-content;
    margin: auto 0px;

    font-weight: bold;
}