.main-container{
    height:100%;
    padding: 5rem 3rem;
}
.page-title{
    font-size: 3rem;
}
#form-instructions{
    font-size: 1.5rem; 
    color: gray;
    font-weight: 200;
    margin-top: 12px  !important;
}
#form-container{
    display: grid;
    gap: 12px;
    grid-auto-rows: minmax(60px, auto);
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    color: #ffc42b;
}
#rebate-reason-container{
    grid-row: 1;
    grid-column: 1/5;
}
#from-date-container{
    grid-row: 2;
    grid-column: 1/2;
}
#to-date-container{
    grid-row: 2;
    grid-column: 2/3;
}
#is-official-rebate{
    grid-row: 3;
    grid-column: 1/3;
    display: flex;
    align-items: flex-end;
    gap: 12px;
}
.info-button {
    background-color: white;
    color: #28282b;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}
.info-button {
    color: #FFC42B;
}
.info-button::after {
    content: "Choose if you have official permission letter";
    position: absolute;
    background-color: #28282b;
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    bottom: 0%;
    right: 200%;
    transform: translateY(-28px) translateX(285px);
    z-index: 5;
    text-align: center;
}
.info-button:hover::after {
    visibility: visible;
    opacity: 1;
}
#file-for-official{
    grid-row: 3;
    grid-column: 2/3;
}
#current-file{
    grid-row: 4;
    grid-column: 1/3;
}
#confirm-btn{
    background-color: #FFC42B;
    border-color: #FFC42B;
    border-radius: 120rem;
    padding-right: 24px;
    padding-left: 24px;
    height: max-content;
    margin: 24px 0px;
    font-weight: bold;
}
#confirm-btn:hover{
    background-color: #28282b;
}
#duration-label, #range-date-container, #noOfDays, #reason-label, #days-notice, #official-toggle-container, #current-document-label{
    display: none;
}
@media screen and (max-width: 431px) {
    .main-container{
        padding: 0% 4% 4% 4%;
        padding-top: 0%;
    }
    #desktop-title, i, #from-date-container, #to-date-container, #desktop-toggle{
        display: none;
    }
    #mobile-toggle{
        display: block;
    }
    #duration-label, #reason-label, #current-document-label{
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #ffce5d;
    }
    #reason-label{
        width: 100%;
    }
    .info-button{
        background-color: #28272c;
    }
    #range-date-container{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    #range-date{
        width: 265px;
        border: none;
        border-radius: 8px;
        display: block;
    }
    #calender-icon{
        position: absolute;
        bottom: 14.91px;
        right: -40px;
        z-index: 1;
        size: scale(2);
    }
    #calender-icon:hover{
        cursor: pointer;
    }
    :host ::ng-deep .mat-mdc-text-field-wrapper{
        background-color: #ffffff !important;
        border-radius: 50px 10px 10px 50px;
        padding: 0px 0px 0px 20px;
    }
    :host ::ng-deep .mat-mdc-form-field-bottom-align{
        display: none !important;
    }
    :host ::ng-deep .mat-end-date, .mat-start-date{
        font-size: 12px ;
    }
    #days-notice{
        display: flex;
        justify-content: right;
        color: #bebebe;
        font-size: 12px;
        margin-bottom: 8px;
    }
    #noOfDays{
        height: 56px;
        width: 29vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px 50px 50px 10px;
        font-size: 16px;
        font-weight: 500;
        color: #bebebe;
    }
    #form-container{
        display: flex;
    }
    #rebate-reason-container{
        width: 100%;
    }
    #official-toggle-container{
        width: 120px;
        height: 56px;
        z-index: 0;
        background-color: #ffffff;
        color: #28272c;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
    #official-toggle-container p{
        margin-bottom: 0px;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
    }
    :host ::ng-deep .mdc-switch__track::after{
        padding: 2px;
        background-color: #ffc24b !important;
    }
    :host ::ng-deep .mdc-switch__track::before{
        background-color: #ffffff !important;
        border: 2px solid black;
    }
    :host ::ng-deep .mdc-switch__icons{
        background-color: black !important;
        border-radius: 50px;
        margin: 0px;
    }
    :host ::ng-deep .mdc-switch__ripple::after{
        background-color: #ffc24b !important;
    }
    #confirm-btn{
        width: 100%;
        height: 56px;
        color: #28272c;
        font-size: 18px;
        font-weight: 600;
    }
    .notice{
        font-size: 12px;
        color: #bebebe;
    }
}