<div id="form-container">
    <div id="filter-controls-row">
        <div id="left-controls">
            <mat-form-field id="range-date">
                <mat-date-range-input [rangePicker]="rangePicker">
                    <input matStartDate placeholder="Start date" [formControl]="startDate"/>
                    <input matEndDate placeholder="End date" [formControl]="endDate"/>
                </mat-date-range-input>
                <img src=".\.\assets\IconSet\Icon=Calendar.svg" alt="calender-icon" id="calender-icon">
                <mat-datepicker-toggle matIconSuffix [for]="rangePicker" style="opacity: 0;"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker>
                    <mat-date-range-picker-actions>
                        <button mat-button matDateRangePickerCancel>Cancel</button>
                        <button mat-raised-button matDateRangePickerApply (click)="applyDateRange()">Apply</button>
                    </mat-date-range-picker-actions>
                </mat-date-range-picker>
            </mat-form-field>
            <div id="official-toggle-container">
                <p>Official</p>
                <mat-slide-toggle id="official-toggle" [(ngModel)]="officialFilter" (change)="onToggleChange($event)"></mat-slide-toggle>
            </div>
        </div>
        <div class="filter-actions-container">
            <button id="reset-btn" class="btn btn-primary" (click)="reset()">Reset</button>
            <button *ngIf="includeCSV" id="csv-down" class="btn btn-primary" (click)="downloadCSVbtn()">Download CSV</button>
        </div>
    </div>
</div>