@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
#form-container{
    display: grid;
    gap: 1em;
    grid-auto-rows: minmax(60px, auto);
    grid-template-columns: repeat(10, 1fr); 
    color: #ffc42b;
    background-color: transparent;
}
#from-date-container{
    grid-row: 1;
    grid-column: 1/2;
}
#to-date-container{
    grid-row: 1;
    grid-column: 2/3;
}
#officalFilter{
    grid-row: 1;
    grid-column: 3/4;
}
#main-heading{
    padding-top: .5rem;
    margin-bottom: 0px;
}

.button-style{
    background-color: #ffc659;
    border-color: #ffc659;
    border-radius: 120rem;
    margin-top: 2.4em; 
    padding-right: 24px;
    padding-left: 24px;
    height: max-content;
    font-weight: bold;
}

#confirm-btn {
    grid-row: 1;
    grid-column: 6/7;
}

#reset-btn {
    grid-row: 1;
    grid-column: 8/9;
}

#csv-down {
    grid-row: 1;
    grid-column: 10/11;
}
@media screen and (max-width: 431px){
    *{
        font-family: "Open Sans", sans-serif;
    }
}