.main-container{
    min-height: 100vh;
    height: max-content;
    padding: 4%;
    background-color: #fffcf4;
}
.page-title{
    font-size: 3rem;
}
#form-instructions{
    font-size: 1.5rem; 
    color: gray;
    font-weight: 200;
}
.rebate-card-container{
    margin-top: -1rem;
    margin-bottom: 24px;
}
#myTabContent{
    padding-top: 1em;
}
#myTab2{
    display: none;
}
#range-date{
    display: none;
}
#official-toggle-container{
    display: none;
}
.filter-actions-container {
    display: flex;
    margin-top: 16px;
    margin-bottom: 0px;
    justify-content: flex-end;
}
#mobile-clear-btn {
    background-color: #fffcf4;
    border-color: #fffcf4;
    border-radius: 120rem;
    padding: 8px 16px;
    font-size: 14px;
    width: fit-content;
    color:#28272c;
    font-size: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width: 431px){
    .main-container{
        background-color: #28272c;
        padding: 0% 4%;
    }

    .filter-actions-container {
        display: flex;
        justify-content: flex-end; 
        width: 100%;
        margin-top: 16px;
        margin-bottom: 10px;
    }
    
    #mobile-clear-btn {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #28272c;
        padding: 8px 16px;
        border-radius: 50px;
        font-weight: 600;
        font-size: 14px;
    }
    
    .rebate-card-container{
        position: relative;
        top: 1vh;
    }
    #page-title{
        display: none;
    }
    #myTab{
        display: none;
    }
    #myTab2{
        display: flex;
        border-bottom: none;
    }
    #date-filter{
        display: none;
    }
    .nav-link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 94px;
        height: 50px;
        border-radius: 50px;
        padding: 4px 19px 4px 19px;
        margin: 0px 15px;
        border: none;
        background-color: #ffffff;
        font-family: "Open Sans";
        font-weight: 500;
        color: #5f6368;
        transition: all 0.15s ease-in-out;
    }
    .btn-box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        width: 100%;
        height: 42px;
        position: relative;
        top: 0.5vh;
    }
    .btn-box button.active{
        background-color: #ffce5d;
        color: #28272c;
        width: 112.8px;
        font-size: 16.8px;
        font-weight: 600;
        transition: all 0.15s ease-in-out;
    }
    #range-date{
        width: 265px;
        border: none;
        border-radius: 8px;
        display: block;
    }
    
    #calender-icon{
        position: absolute;
        bottom: 1.6vh;
        right: -40px;
        z-index: 1;
        size: scale(2);
    }
    #calender-icon:hover{
        cursor: pointer;
    }
    :host ::ng-deep .mat-mdc-text-field-wrapper{
        background-color: #ffffff !important;
        border-radius: 50px 10px 10px 50px;
        padding: 0px 0px 0px 20px;
    }
    :host ::ng-deep .mat-mdc-form-field-bottom-align{
        display: none !important;
    }
    #official-toggle{
        display: flex;
    }
    #official-toggle-container{
        width: 120px;
        height: 56px;
        z-index: 0;
        background-color: #ffffff;
        border-radius: 10px 50px 50px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
    #official-toggle-container p{
        margin-bottom: 0px;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
    }
    #range-date-container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        position: relative;
        top: 1vh;
        padding-top: 1vh;
    }
    :host ::ng-deep .mdc-switch__track::after{
        padding: 2px;
        background-color: #ffc24b !important;
    }
    :host ::ng-deep .mdc-switch__track::before{
        background-color: #ffffff !important;
        border: 2px solid black;
    }
    :host ::ng-deep .mdc-switch__icons{
        background-color: black !important;
        border-radius: 50px;
        margin: 0px;
    }
    :host ::ng-deep .mdc-switch__ripple::after{
        background-color: #ffc24b !important;
    }
}