.main-container{
    min-height: 100vh;
    height: max-content;
    padding: 4%;
    background-color: #fffcf4;
}
.page-title{
    font-size: 3rem;
}
#form-instructions{
    font-size: 1.5rem; 
    color: gray;
    font-weight: 200;
}
.rebate-card-container{
    margin-bottom: 24px;
}
#myTabContent{
    padding-top: 1em;
}