.loginPage{
    background-color: #28282B;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
a{
    color: #28282B;
    font-size: larger;
    margin-top: 0 !important;
    background-color: #FFC42B;
    padding-right: 2rem;
    padding-left: 2rem;
}
.button_class{
    margin-top: 0%;
}

@media screen and (min-width : 750px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        width: 35%;
    }
}
@media screen and (max-width : 750px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        max-width: 30%;
    }
}
@media screen and (max-width : 690px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        max-width: 35%;
    }
}
@media screen and (max-width : 580px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        max-width: 40%;
    }
}
@media screen and (max-width : 430px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        max-width: 50%;
    }
}
@media screen and (max-width : 380px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        max-width: 100%;
    }
}