<!-- <div class="d-flex flex-column loginPage"> -->
    <div class="d-grid gap-4 loginPage">
    <img class="img-fluid" src="assets/mess-i-logo.png">
   <div class="button_class">
    <div class="d-grid gap-2">
        <a  class="btn btn-primary m-auto rounded-pill" [href]="loginHref" ><span>Login with SSO</span></a>
        <a  class="btn btn-primary m-auto rounded-pill" routerLink="/mess-manager" ><span>Login without SSO</span></a>
    </div>
   </div>
</div>

<!-- 
new addons 
1. button class
2. d-grid gap-2 
3. d-grid gap-4 
4. removed <div class="d-flex flex-column loginPage"> 
5 . img-fluid class created 
-->