.loginPage{
    background-color: #28282B;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
a{
    color: #28282B;
    font-size: larger;
    margin-top: 0 !important;
    background-color: #FFC42B;
    padding-right: 2rem;
    padding-left: 2rem;
    border:0px;
    transition: all 0.2s cubic-bezier(0, 0, 0.29, 0.95);
}
a.btn:hover{
    color: #28282B;
    font-size: larger;
    background-color: #FFFFFF;
    padding-right: 2rem;
    padding-left: 2rem;
    transform: scale(1.1);
    
}
.button_class{
    margin-top: 0%;
    position: relative;
    bottom: 50%;
}
#welcome-message{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

#made-by{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (min-width : 750px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        width: 25%;
    }
}
@media screen and (max-width : 750px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        max-width: 30%;
    }
}
@media screen and (max-width : 690px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        max-width: 35%;
    }
}
@media screen and (max-width : 580px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        max-width: 40%;
    }
}
@media screen and (max-width : 430px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        max-width: 50%;
    }
}
@media screen and (max-width : 380px) {
    .img-fluid{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        height:auto;
        max-width: 100%;
    }
}