<div class="d-grid gap-4 loginPage">
    <img class="img-fluid" src="assets/mess-i-logo.png">
    <h1 id="welcome-message">Welcome to Mess-i</h1>
    <div class="button_class">
    <div class="d-grid gap-2">
        <a  class="btn btn-primary m-auto rounded-pill" [href]="loginHref" ><span>Login with SSO</span></a>
        <a  class="btn btn-primary m-auto rounded-pill" routerLink="/mess-manager" ><span>Login with UserID</span></a>
    </div>
   </div>
   <p id="made-by">Made with ❤️ by DevCom</p>
</div>
