.container {
    background-color: #28282B;
    color:#FFFFFF;
    position: relative;
    top: 0%;
    left: -4%;
    width: 108%;
    height: 75px;
    background-color: #28282B;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px 0px #202020;
    z-index: 2;
    margin-bottom: 12px;
}
#title{
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    left: 22%;
    top: 25%;
    font-family: 'Open Sans', sans-serif;
}
#logo{
    position: absolute;
    left: 7%;
}
#suffix{
    position: absolute;
    left: 22%;
    top: 53%;
    color: #BEBEBE
}
#home-icon{
    position: absolute;
    right: 5%;
}
@media screen and (min-width: 431px){
    .container{
        display: none
    }
}
