form{
    margin-top: 3vw;
  
}
input.form-control{
    margin-left: 2vh;
    margin-right: 2vh;
    border-color: #FFC42B;
    border-width: 2px;
    background-color:
    #FFF8E8;
}
.form-group{
    margin-left: 3vh;
    margin-right: 5vh;
    border-color: #FFC42B;
    border-width: 2px;
    
}

select.form-select{
    margin-left: 2vh;
    margin-right: 2vh;
    border-color: #FFC42B;
    border-width: 2px;
    background-color: #FFF8E8;
}
button{
    background-color: #FFC42B;
}