<div id="main-container-nav-routerout" class="">
    <div id="navbar-fixed" class="box-style">
      <div class="d-flex flex-column">
        <img class="" src="/assets/mess-i-logo.png">
        <a id="nav_home" class="nav-link nav-items-style" *ngIf="auth.isStaff()" routerLink="/home" >HOME</a>
        <a id="nav_student_list" class="nav-link nav-items-style" *ngIf="auth.isStaff()" routerLink="/list">STUDENTS' LIST</a>
        <a id="nav_rebate" class="nav-link nav-items-style" *ngIf="auth.isStudent()"  routerLink="/rebate" >REBATES</a>
        <a id="nav_overview" class="nav-link nav-items-style" *ngIf="auth.isStaff()" routerLink="/overview" >MESS STATS</a>
        <a id="nav_rebate_admin" class="nav-link nav-items-style" *ngIf="auth.isRebate()" routerLink="/rebate-admin" >REBATE ADMIN</a>
        <a class="nav-link nav-items-style-login" (click)="login()" *ngIf="!auth.isLoggedIn()" routerLink="/login">LOGIN</a>
        <a class="nav-link nav-items-style-login " (click)="logout()" *ngIf="auth.isLoggedIn()">LOGOUT</a>
      </div>
    </div>

    <div id="router-outlet">
      <router-outlet (activate)="updateNav()"></router-outlet>
    </div>

</div>
