<div id="maindiv" class="rebate-card-container">
    <span class="small-italics">Recieved on {{ p_request_recieved }}</span>
    <div id="stud-details-container" *ngIf="!isApproved">
        <span>{{ rebate_request.roll }} <span  style="float: right;height:02.5rem; width:07.5rem; border-radius: 03.0rem; background-color:#FFF4D8 ;  color:#FFDA7C;font-size:1.3rem;text-align:center;"  id="Accepted">Pending</span></span>
    </div>
    <div id="stud-details-container" *ngIf="isApproved">
        <span>{{ rebate_request.roll}} <span   style="float: right;height:02.5rem; width:07.5rem; border-radius: 03.0rem; background-color:#E9FFD8 ;  color:#649F34;font-size:1.3rem;text-align:center;"  id="Accepted">Accepted</span></span>
    </div>

    <div id="rebate-duration-container">
        <span id="rebate-duration">{{ p_rebate_start }} - {{ p_rebate_end }}</span><br>
        <span class="small-italics">Both dates are inclusive</span>
    </div>
    <div>
        Reason for Rebate: {{p_rebate_reason}}
    </div>
    <div  *ngIf="!isApproved" style="display:flex;" >
        <button id="review-rebate-btn" class="btn btn-light" (click)="updateRebateData(p_rebate_reason,p_rebate_start,p_rebate_end)">
            Make Amendments
        </button>
        <button id="review-rebate-btn" class="btn btn-light" (click)="deleteRebate()">
            Cancel your rebate
        </button>
    </div>
    
</div>