.contianer{
    display: flex;
    flex-wrap: wrap;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 0vh;
  margin-top: 2vh;
  height: 95vh;
  }
  
  /* Create four equal columns */

  .frame1  {
    flex: 40%;
    padding: 20px;
    margin-right: 5vh;
    height: 95vh;
  margin-left:5vh;
    gap: 0px;
    opacity: 0px;
    background-color: #29292b;
    border-radius: 22px 22px 22px 22px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: inline;
  }

  .mess-I{
    justify-content: center;
    align-items: center;
    display: inline;
    flex-direction: column;
  }

  .img2-fluid {
    text-align: center; /* Center the image horizontally */
    width: 55%;
    height: 75%;
    margin-top: 0%;
    margin-left: 10%;
    gap: 0px;
    opacity: 0px;
    position: relative;
  display: block; /* Use display: block; for images */
  margin: 0 auto; /* Center the image horizontally */
  } 

  .heading1 {
    display: flex;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.68px;
    text-align: center;
    color: #ffffff;
    margin-left: 28%;
    justify-content: center;
    align-items: center;
    display: inline;
  }


  .frame2{
    background-color: #fed05b;
    padding: 20px;
    flex: 40%;
    height: 95vh
  }


.frame2{
    
  margin-right:5vh;
    display: inline;
    align-items: center;
    gap: 0px;
    border-radius: 22px 22px 22px 22px;
    opacity: 0px;
   
}
.heading2 {
    margin-bottom: 1%;
    top: 0;
    justify-content: center;
    /* align-items: center; */
    display: inline;
    width: 343px;
    height: 44px;
    /* margin-top: 72px;
    margin-left: 158px; */
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.58px;
    padding-bottom: 0;
    text-align: center;
}
.img-fluid {
    text-align: center; /* Center the image horizontally */
    padding-top: 0;
    width: 54%;
  height: 55%;
    position: relative;
    display: block; /* Use display: block; for images */
    margin: 0 auto; /* Center the image horizontally */
}

.formcase{
    text-align: center;
    max-width: fit-content;
    max-height: fit-content;
    margin: auto auto;
}


button{
    color: #ffffff;
    width: 119px;
    height: 55px;
    gap: 0px;
    border-radius: 19px 19px 19px 19px;
    opacity: 0px;
    background-color: black;
    font-size: 16px;
    font-weight: 400; 
    line-height: 21.79px;
}
/* .inputbox{
    width: 259px;
    height: 33px;
    gap: 0px;
    border-radius: 18px 18px 18px 18px;
    opacity: 0.4px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    border-color: #ffffff;
    font-style: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
} */
.form-control{
    width: 259px;
    height: 33px;
    gap: 0px;
    border-radius: 18px 18px 18px 18px;
    opacity: 0.4px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    border-color: #ffffff;
  }
  
  input{
    font-style: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    margin-bottom: 2%;
  }




@media screen and (max-width:350px) {
    .img-fluid{
        width: 80%;
        height: 44%;
    }
    .frame2{
        height:100vh;
    }
}
@media screen and (max-width:400px) and (min-width:350px) {
    .img-fluid{
        width: 80%;
        height: 45%;
    }
    .frame2{
        height:100vh;
    }
}

@media screen and (max-width: 880px) {
    .frame1 ,  .frame2 {
      flex: 100vh;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 880px) {
    /* .contain {
      flex-direction: column;
    } */
      .frame1{
        visibility: none;
        display: none;
      }
      
      .frame2{
        height: 100vh;
      }
      .img-fluid{
        height: 50%;
      }
    }
