
body, html {
  margin: 0;
  font-family: "Open sans";
  box-sizing: border-box;
}
.container {
  display: flex;
  max-width: 100%;
  min-height:100% ;
  justify-content: center;
  background-color: #FFFCF4;
  align-items: stretch;
  padding: 15px;
  gap: 12px; 
}
.frame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 40%;
  padding: 20px;
  width: 1vh;
  height: 95.5vh;
  gap: 0px;
  border-radius: 22px 22px 22px 22px;
}
.left-frame{
  background-color: #28282B;
}
.right-frame{
  background-color: #FFC42B; 
}
.img1-fluid { 
  width: 25vw;
  height: auto;
  position: relative;
  display: block;
} 
.heading1 {
  margin: 0;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-align: center;
  color: #ffffff;
  display: inline;
} 
.heading1 p{
  margin-top: 5vh;
}

.heading2 {
  margin: 0;
  color: #28282B;
  display: inline;
  width: 343px;
  height: 44px;
  font-family: "Open Sans";
  font-size: 1.8em;
  font-weight: 600;
  line-height: 43.58px;
  padding-bottom: 0;
  text-align: center;
  
}
.img2-fluid {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.form{
  text-align: center;
}
.form-control{
  width: 259px;
  height: 33px;
  border-radius: 18px 18px 18px 18px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  border-color: #ffffff;
}
input{
  line-height: 21.79px;
  text-align: left;
  margin-bottom: 2%;
}
.inputbox {
  margin-top: 8.5vh;
}
button{
  color: #ffffff;
  width: 150px;
  height: 36px;
  border-radius: 19px 19px 19px 19px;
  background-color: #28282B;
  font-size: 16px;
  font-weight: 400; 
  line-height: 21.79px;
  text-align: center;
  /* margin-right:-57%; */
}
a{
  margin-right: -57%;
  color: #28282B;
}
@media (max-width: 767px) {
  .container {
      flex-direction: column;
  }
  
  .left-frame {
      display: none;
  }
  
  .right-frame {
      width: 100%;
  }
}