<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
<div class="contianer">
    <div class="frame1">
        <div class="mess-I">
          <img class="img2-fluid" src="assets/images/mess.jpg" />
        </div>
        <br />
        <div class="heading1">
          <p>Welcome to Mess-i</p>
        </div>
        <br />
        <br />
      </div>

    <div class="frame2">
        <div class="heading2">
          <p>Reset Password</p>
        </div>
        <img src="assets/images/document-sign.png" class="img-fluid" alt="..." />

        <div class="formcase">
          <form (ngSubmit)="onForgetSubmit(email.value)">
                <div class="inputbox">
                <input
                type="email"
                name="email"
                class="form-control"
                id="inputEmail3"
                placeholder="Enter registered Email"
                required
                #email
            />
        </div>
        
        <!-- <div class="inputbox">
                <input style="margin-top: 4%;"
                type="password"
                name="password"
                class="form-control"
                id="inputPassword3"
                placeholder="Password"
                required
                #password
            />
        </div> -->
        
            <button type="submit" style="margin-top: 3%;" class="btn btn-primary">Get Password</button>
            
            </form>

        </div>
      
        <!-- <div class="form1">
          <form>
            <div class="col-sm-4" style="margin-left: 37%">
              <input
                type="text"
                name="userID"
                class="form-control"
                id="inputEmail3"
                placeholder="UserID"
                required
                #username
              />
            </div>
      
            <div class="col-sm-10" style="margin-left: 37%">
              <input
                type="password"
                name="password"
                class="form-control"
                id="inputPassword3"
                placeholder="Password"
                required
                #password
              />
            </div>
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div> -->
      </div>
</div>
