<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<div class="container">

  <div class="frame left-frame">
    <div class="mess-i-logo">
      <img class="img1-fluid" src="assets/images/mess.jpg" />
    </div>
    <div class="heading1">
      <p>Welcome to Mess-i</p>
    </div>
    <br />
    <br />
  </div>

  <div class="frame right-frame">
    <div class="heading2">
      <p>Reset Password</p>
    </div>
    <div class="documentImg">
      <img class="img2-fluid" src="assets/images/document-sign.png" alt="document-sign-img" />
    </div>
    <div class="form">
      <form (ngSubmit)="onForgetSubmit(email.value)">
        <div class="inputbox">
          <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter registered Email" required #email />
          <a [routerLink]="['/mess-manager']">Back to Login</a>
          <br/>
          <br/>
        </div>
        <button type="submit" style="margin-top: 3%;" class="btn btn-primary">Get Password</button>
      </form>
    </div>
  </div>

</div>
