<div class="main-container">
    <span class="page-title">Guest Application</span>
    <br>

    <div id="form-instructions"><i>Please fill all the information correctly.</i></div>

    <div id="form-container">
        <div id="hostel-container">
            <select class="form-select" [(ngModel)]="guestHostel" name="guestHostel" id="hostel_dropdown" aria-label="Select a Guest hostel" aria-placeholder="Hostel Name" (change)="search($event)" ngModel>
                <option value="" disabled selected>Select Hostel</option>
                <ng-container *ngFor="let hostel of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
                    <option *ngIf="allowedHostels[hostel] && guest.hostel !== 'H'+hostel" [value]="'H' + hostel">H{{ hostel }}</option>
                  </ng-container>   
                  <option *ngIf="allowedHostels[20] && guest.hostel !== 'H20'" value="H20">H20</option>
                  <option *ngIf="allowedHostels[21] && guest.hostel !== 'TANSA'" value="TANSA">TANSA</option> 
            </select>        
        </div>
        <div id="meal-container">
            <select class="form-select" [(ngModel)]="meal" name="meal" aria-label="Select a meal" aria-placeholder="Select a meal" (change)="search($event)" ngModel>
                <option value="" disabled selected>Select Meal</option>
                <option *ngFor="let meal of ['Breakfast', 'Lunch', 'Snacks', 'Dinner']; let i=index" [value]="meal.toLowerCase()">{{meal}}</option>
            </select>       
        </div>
        <div id="date-container">
            <app-input-field label="date" inputType="calender" [(inputModel)]="date" (change)="search($event)"></app-input-field>
        </div>
        <div *ngIf="notAVL" id="avl-container">
            <h3 style="color: red;">Not Available</h3>
        </div>
        <div *ngIf="availability && !notAVL" id="avl-container">
            <h3 style="color: green;">{{availability}}</h3>
        </div>
    </div>
    <button id="confirm-btn" class="btn btn-primary" (click)="submitEntry()">SUBMIT</button>
</div>