<h2 id="mat-dialog-title" class="inline-input" mat-dialog-title>Shrink Duration</h2>
<div *ngIf="isOfficialRebate" id="is-official-rebate" class="inline-input" >
  <mat-chip-listbox id="offcial-tag" aria-label="Official Status">
    <mat-chip-option selected class="official-component">Official</mat-chip-option>
  </mat-chip-listbox>
</div>
<mat-dialog-content class="mat-typography">
  <div class="main-container">

    <div id="form-container">
        <div id="rebate-reason-container" >Reason: {{this.reason}}</div>
      <div id="date-containter">
        <div id="from-date-container" class="inline-input">
          <app-input-field
            label="From"
            inputType="calender"
            [(inputModel)]="new_rebateStart"
          ></app-input-field>
        </div>
        <div id="to-date-container" class="inline-input">
          <app-input-field
            label="Till"
            inputType="calender"
            [(inputModel)]="new_rebateEnd"
          ></app-input-field>
        </div>
      </div>

      <div *ngIf="isOfficialRebate" id="file-for-official">
      </div>
      <app-input-field
        *ngIf="isOfficialRebate && isUpdateRequest"
        id="current-file"
        label="Current Document"
        inputType="show_text"
        text_to_show="{{ rebate_docname }}"
      ></app-input-field>
    </div>
    <button id="confirm-btn" (click)="makeShrinkRequest()" class="btn btn-primary">UPDATE</button>
  </div>
</mat-dialog-content>
