@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
.pd-rebate-card-container{
    min-width: 330px;
    padding: 12px 36px;
    border-radius: 12px;
    box-shadow: 6px 6px 50px -40px;
    background-color: white;
    position: relative;
}
#stud-name{
    font-size: 18px;
    margin: 12px 0px;
    font-size: 1.75rem;
    font-weight: 700;
}
#room-no{
    position: absolute;
    right: 36px;
}
#stud-sub-details-container{
    margin: 12px 0px;
    font-size: 16px;
    font-weight: 600;
}
#rebate-duration-container {
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#start-date {
    flex: 1;
    text-align: left;
}
#arrow-mark {
    position: static; 
    margin: 0 15px; 
}
#end-date {
    flex: 1;
    position: static;
    text-align: right;
}
#rebate-duration{
    font-size: 1rem;
    font-weight: 600;
}
.small-italics{
    font-size: 0.75rem;
    font-style: italic;
}
.rebate-action-btn{
    color: #ffc24b;
    background-color: white;
    border-color: white;
    margin-left: -12px;
}
#review-rebate-btn{
    color: #ffc24b;
    background-color: white;
    border-color: white;
    margin-left: -12px;
}
#rebate-action-container{
    border-top: 2px solid lightgray;
}
#rebate-decision-container{
    margin: 0.5rem 0rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}
#rebate-decision-container button{
    margin-right: 1rem;
    font-size: 1.15rem;
}
#rebate-comment-container{
    padding: 0px 12px;
}
#comment-inp{
    position: relative;
    bottom: 0.8vh;
}
.row{
    word-break: break-all;
    white-space: normal;
}
#official{
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans";
    width: auto;
    position: absolute;
    right: 24px;
}
.acc-rej{
    height: 48px;
    width: 132px;
    border-radius: 50px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    color: #28272c;
}
#reject-btn{
    border-color: #ffc24b;
    background-color: white;
    border: 2px solid #ffc24b;
}
#accept-btn{
    border: 2px solid #ffc24b;
    background-color: #ffc24b;
}
#reason{
    width: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    position: relative;
    left: 0px;
    font-size: 14px;
    font-weight: 600;
}
#nobold{
    font-weight: 400;
    font-size: 16px;
    color: #28272c;
}
#noofdays{
    font-size: 16px;
    font-weight: 600;
    color: #28272c;
}
#days{
    position: relative;
    bottom: 10px;
}
#rebate-status-indicator{
    position: absolute;
    right: 36px;
}