<div class="pd-rebate-card-container">
    <span class="small-italics">Recieved on {{ p_request_recieved }}</span>
    <div id="stud-details-container">
        <span>{{ rebate_request.roll }}</span>
        <br>
        <!-- <span>{{ rebate_request.student.name }}</span> -->
    </div>
    <div id="rebate-duration-container">
        <span id="rebate-duration">{{ p_rebate_start }} - {{ p_rebate_end }}</span><br>
        <span class="small-italics">Both dates are inclusive</span>
    </div>
    <div id="rebate-reason-container" class="row">
        <p><b>Reason</b>: {{ p_rebate_reason }}</p>
    </div>
    <div id="rebate-action-container">
        <div id="rebate-comment-container" class="row">
            <!-- <input id="rebate-comment-input" type="text" value="" placeholder="Add a comment here..."> -->
            <app-input-field label="Comment" [inputModel]="card_comment" (inputModelChange)="onCommentChanged($event);"></app-input-field>
        </div>
        <div id="rebate-decision-container" class="review-rebate-actions">
            <button class="btn btn-light rebate-action-btn" (click)="acceptRebate()">
                Accept
            </button>
            <button class="btn btn-light rebate-action-btn" (click)="rejectRebate()">
                Reject
            </button>
            <button class="btn btn-light rebate-action-btn" (click)="openDialog()">
               Previous Rebates 
            </button>
            <button *ngIf="rebate_request.official" class="btn btn-light rebate-action-btn" (click)="downloadRebateDoc()">
               Download Rebate Document 
            </button>
        </div>
    </div>
</div>