.pd-rebate-card-container{
    min-width: 330px;
    padding: 12px 36px;
    border-radius: 12px;
    box-shadow: 6px 6px 50px -40px;
    background-color: white;
}

#stud-details-container{
    margin: 12px 0px;
    font-size: 1.75rem;
    font-weight: 700;
}

#rebate-duration-container{
    margin: 12px 0px;
}

#rebate-duration{
    font-size: 1.25rem;
    font-weight: 600;
}

.small-italics{
    font-size: 0.75rem;
    font-style: italic;
}

.rebate-action-btn{
    color: #ffc24b;
    background-color: white;
    border-color: white;
    margin-left: -12px;
}

#review-rebate-btn{
    color: #ffc24b;
    background-color: white;
    border-color: white;
    margin-left: -12px;
}

#rebate-action-container{
    margin: 0.5rem 0rem;
}
#rebate-action-container button{
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.15rem;
}
.row{
    word-break: break-all;
    white-space: normal;
}