<div class="pd-rebate-card-container">
    <span>Recieved on {{ p_request_recieved }}</span>
    <div id="stud-name">
        <span>{{ rebate_request.fullname }}</span>
        <br>
    </div>
    <div id="stud-sub-details-container">
        <span id="roll-no">{{ rebate_request.roll}}</span>
        <span id="room-no">Room no. {{rebate_request.room}}</span>
        <br>
    </div>
    <div id="rebate-duration-container">
        <span class="rebate-duration" id="start-date">{{ p_rebate_start }}</span>
        <img src="././assets/IconSet/Icon=DoubleArrow.svg" alt="arrow mark" id="arrow-mark">
        <span class="rebate-duration" id="end-date">{{ p_rebate_end }}</span>
    </div>
    <div id="days">
        <span id="noofdays">{{ p_rebate_days }} days </span><span id="nobold">(both inclusive)</span>
    </div>
    <div id="rebate-reason-container" class="row">
        <p id="reason">{{ p_rebate_reason }}</p>
        <button id="official" *ngIf="rebate_request.official" (click)="downloadRebateDoc()">
            Official <img src="././assets/IconSet/Icon=Download.svg" alt="download-button"> 
        </button>
    </div>
    <div id="rebate-action-container">
        <div id="rebate-comment-container" class="row">
            <app-input-field inputType="text" label="Comment" [(inputModel)]="card_comment" id="comment-inp"></app-input-field>
        </div>
        <div id="rebate-decision-container" class="review-rebate-actions">
            <button class="acc-rej" (click)="rejectRebate()" id="reject-btn">
                Reject
            </button>
            <button class="acc-rej" (click)="acceptRebate()" id="accept-btn">
                Accept
            </button>
        </div>
    </div>
</div>