@import "bootstrap-icons/font/bootstrap-icons.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
    font-family: "Oxygen";
    src: local("Oxygen"), url('assets/fonts/Oxygen-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Lato";
    src: local("Lato"), url('assets/fonts/Lato-Thin.ttf') format("truetype");
}
/* body{
    width: 100%;
} */
#app-root{
    /* display: flex;
    flex-direction: column;
    flex-grow: 1; */
   height: 100% !important; 
   /* width: 100% !important; */
}

.clickable{
    cursor: pointer;
}

.inblock-el{
    display:inline-block;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width: 431px) {
    .main-container, .container {
        padding: 15px 25px 10px 25px !important; 
    }
    
    #navbar-fixed,
    #mobile-navbar,
    #container-nav-items,
    .box-style {
        padding: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    app-app-bar .container {
        padding: 0 6% !important; /* Maintain app-bar padding */
    }
    
    .main-container, .container {
        margin-top: 87px; /* 75px height + 12px margin */
    }
    
    app-rebate > .main-container,
    app-rebate-admin > .main-container,
    app-guest-admin > .main-container,
    app-statistics > .container,
    app-guest-entry > .container,
    app-student-list > .container,
    app-mess-bill > .container,
    app-overview > .container {
        padding: 10px 25px 10px 25px !important;
    } 
    .info-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 22px;
    height: 22px;
}
}