@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
    font-family: "Oxygen";
    src: local("Oxygen"), url('assets/fonts/Oxygen-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Lato";
    src: local("Lato"), url('assets/fonts/Lato-Thin.ttf') format("truetype");
}
/* body{
    width: 100%;
} */
#app-root{
    /* display: flex;
    flex-direction: column;
    flex-grow: 1; */
   height: 100% !important; 
   /* width: 100% !important; */
}

.clickable{
    cursor: pointer;
}

.inblock-el{
    display:inline-block;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
