@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
.device-card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* replaced "start" with "flex-start" due to warning while running server - ./src/app/home/devices/devices.component.css?ngResource - Warning: Module Warning (from ./node_modules/postcss-loader/dist/cjs.js): Warning (4:5) autoprefixer: start value has mixed support, consider using flex-start instead */
    padding: 20px 0 ;
    position: relative;
}
.device-data{
    display: flex;
    flex-direction: column;
    
}
.device-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img{
    width: 10%;
    height: auto;
}
p{
    padding-right:15px;
}

h3{
    font-weight: bold;
}
@media screen and (max-width: 431px){
    *{
        font-family: "Open Sans", sans-serif;
    }
    h3{
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 18px;
        margin: 0px;
    }
    img{
        display: none;
    }
    .device-card{
        background-color: #ffffff;
        padding: 12px;
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .device-data{
        width: 100%;
    }
    p{
        margin: 0px;
    }
    .version{
        padding-bottom: 8px;
        font-weight: 400;
    }
    #last-sync,#cards-no{
        font-weight: 600;
    }
    .device-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #cards-no{
        flex: 1;
        padding: 0px;
        position: static;
        text-align: right;
    }
}