<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <div id="main-container">
            <h1>Hello, {{ user_name }}!</h1>
            <div id="pending-rebates-container">
                <h2>Pending Rebates</h2>
                <div id="pd-rebate-cards-hscroll">
                    <div class="rebate-card-wrapper" *ngFor="let reb_req of pending_rebates">
                        <app-pd-rebate-card [rebate_request]="reb_req"></app-pd-rebate-card>
                    </div>
                </div>
            </div>

            <div id="search-container">
                <h2>Search</h2>
                <div id="search-main-area">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <i class="bi bi-search"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>