.container{
    padding: 4%;
    background-color: #FFFCF4; 
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

form{
    margin-top: 1vw;
    /* display: flex;
    flex-direction: row; */
}
#form-container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: flex-end;
    color: #ffc42b;
}

#date-container {
    margin-left: 100px;
}

#date-container,
#hostel-container,
#meal-container,
#button-container {
    flex: 1;
    min-width: 150px; /* Adjust this value as needed */
    text-align: center;
}

input.form-control{
    margin-left: 2vh;
    margin-right: 2vh;
    border-color: #FFC42B;
    border-width: 2px;
    background-color:#FFF8E8;
}
.form-group{
    margin-left: 3vh;
    margin-right: 5vh;
    border-color: #FFC42B;
    border-width: 2px;
    
}

select.form-select{
    margin-left: 2vh;
    margin-right: 2vh;
    border-color: #FFC42B;
    border-width: 2px;
    background-color: #FFF8E8;
}

#column-headers{
    color: #ffc42b;
    font-weight: 500;
}
#guest-table{
    border-top: 2px #ffc42b solid;
}

button{
    background-color: #28282B;
    color:white;
    border:0px;
    border-radius: 4px;
}

button:hover{
    background-color: #FFC42B;
}