<div class="container">
  <h1 style="border-bottom:3px solid #ffc42b;">Guest Admin</h1>
  <div id="form-container">
    <div id="date-container">
      <app-input-field label="date" inputType="calender" [(inputModel)]="date"></app-input-field>
    </div>
    <div id="hostel-container" *ngIf="isAdmin">
      <select class="form-select" [(ngModel)]="hostel" name="hostel" id="hostel_dropdown" aria-label="Select a hostel" aria-placeholder="Hostel Name" ngModel>
        <option value="" disabled selected>Select Hostel</option>
        <ng-container *ngFor="let hostel of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
          <option *ngIf="allowedHostels[hostel]" [value]="'H' + hostel">H{{ hostel }}</option>
        </ng-container>   
        <option *ngIf="allowedHostels[20]" value="H20">H20</option>
        <option *ngIf="allowedHostels[21]" value="TANSA">TANSA</option>    
      </select>        
    </div>
    <div id="meal-container">
      <select class="form-select" [(ngModel)]="meal" name="meal" aria-label="Select a meal" aria-placeholder="Select a meal" ngModel>
        <option value="" disabled selected>Select Meal</option>
        <option *ngFor="let meal of ['Breakfast', 'Lunch', 'Snacks', 'Dinner']; let i=index" [value]="meal.toLowerCase()">{{meal}}</option>
      </select>       
    </div>
    <div id="button-container">
      <button id="confirm-btn" class="btn btn-primary" (click)="getGuestList()">GET</button>
    </div>
  </div>
  


  <hr>

  <div>
    <app-table-component *ngIf="isHistoryEmpty(guestHistory['body'])"  [data]="guestHistory"></app-table-component>
    <p  *ngIf="!isHistoryEmpty(guestHistory['body'])">No Guest</p>
  </div>

</div>
