@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
.container{
    padding: 4%;
    background-color: #FFFCF4; 
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
input.form-control{
    margin-left: 2vh;
    margin-right: 2vh;
    border-color: #FFC42B;
    border-width: 2px;
    background-color:#FFF8E8;
}
.form-group{
    margin-left: 3vh;
    margin-right: 5vh;
    border-color: #FFC42B;
    border-width: 2px;  
}
select.form-select{
    margin-left: 2vh;
    margin-right: 2vh;
    border-color: #FFC42B;
    border-width: 2px;
    background-color: #FFF8E8;
}
button{
    background-color: #28282B;
    color:white;
    border:0px;
    border-radius: 4px;
}
button:hover{
    background-color: #FFC42B;
}
.nav-link{
    color: black;
}
.mobile-csv-download, .guest-cards, #myTab, #no-guest-indicator-mobile{
    display: none;
}
#no-guest-indicator-desktop{
    display: flex;
    color: #28272C;
    font-weight: 600;
}
@media screen and (max-width: 431px){
    .container{
        padding: 0% 2%;
        background-color: #28272c;
    }
    #heading, hr, #table, #meal_dropdown, #get-button, #no-guest-indicator-desktop{
        display: none;
    }
    .guest-cards{
        display: block;
    }
    .nav-item{
        width: fit-content;
    }
    .nav-link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20.76vw;
        height: 50px;
        border-radius: 50px;
        padding: 4px 19px 4px 19px;
        /* margin: 0px 8px; */
        border: none;
        background-color: #ffffff;
        font-size: 12px;
        font-family: "Open Sans";
        font-weight: 500;
        color: #5f6368;
        transition: all 0.15s ease-in-out;
    }
    .btn-box button.active{
        background-color: #ffce5d;
        color: #28272c;
        font-size: 14.4px;
        font-weight: 600;
        transition: all 0.15s ease-in-out;
    }
    #myTab{
        width: 100%;
        margin: 8px 0px 16px !important;
        display: flex;
        border-bottom: none;
        height: 50px;
        justify-content: space-between;
    }
    /* All the importants are added because they have a diff css designed in their component acc to desktop view */
    .input-group{
        width: 100%;
        margin-bottom: 4px !important;
        display: flex;
        gap: 10px;
    }
    .form-control{
        margin: 0px !important;
        background-color: #ffffff !important;
        border: none !important;
        padding: 6px 18px !important;
        border-radius: 50px 8px 8px 50px !important;
        height: 42px !important;
    }
    .mobile-csv-download{
        background-color: #ffffff;
        font-weight: 600;
        border-radius: 8px 50px 50px 8px !important;
        padding: 14px 12px;
        position: relative;
        /* left: 10vw; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
    }
    .form-select{
        /* width: 75px; */
        height: 42px;
        border-radius: 8px !important;
        border-width: 1.39px;
        padding: 8px 12px;
        border-color: #ffffff !important;
        background-color: #ffffff !important;
        color: #28272c !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2328272C' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
    }
    #no-guest-indicator-mobile{
        display: flex;
        color: #ffffff;
    }
}