<div class="container">
  <div>
    <h1 style="border-bottom:3px solid #ffc42b;">Guest Admin</h1>
    <form #guest_data="ngForm" (ngSubmit)="getGuestList(guest_data)" class="form-inline">
      <div class="input-group mb-3">
        <input class="form-control" type="date" name="date" ngModel>
        <select *ngIf="isAdmin" class="form-select" name="hostel" id="hostel_dropdown" aria-label="Select a hostel" aria-placeholder="Hostel Name" ngModel>
          <option value="" disabled selected>Select Hostel</option>
          <ng-container *ngFor="let hostel of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
            <option *ngIf="allowedHostels[hostel]" [value]="'H' + hostel">H{{ hostel }}</option>
          </ng-container>   
          <option *ngIf="allowedHostels[20]" value="H20">H20</option>
          <option *ngIf="allowedHostels[21]" value="TANSA">TANSA</option>    
        </select>      
        <select class="form-select" name="meal" aria-label="Select a meal" aria-placeholder="Select a meal" ngModel>
          <option value="" disabled selected>Select Meal</option>
          <option *ngFor="let meal of ['Breakfast', 'Lunch', 'Snacks', 'Dinner']; let i=index" [value]="meal.toLowerCase()">{{meal}}</option>
        </select> 
        <button type="submit">GET</button>
      </div>
    </form>
  </div>
  
  <hr>

  <div>
    <div *ngIf="isHistoryEmpty(guestHistory['body'])">
    <table class="table">
  <thead>
      <tr>
        <th *ngFor="let header of guestHistory.headers">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
  <ng-container *ngFor="let row of guestHistory.body">
    <tr>
      <td *ngFor="let cell of row.slice(0, 4)">{{ cell }}</td>
      <td>
        <div *ngIf="row[5] === 'no_show'" class="text-danger">
          <strong>Didn't Show Up</strong>
        </div>
        <div *ngIf="row[5] === 'paid'" class="text-success">
          <strong>Paid</strong>
        </div>
        
        <div *ngIf="row[5] === 'unpaid'">
        <button *ngIf="isAdmin" class="btn btn-success me-2" (click)="updatePaymentStatus(row[1], 'paid', currentFormData.hostel)">Paid</button>
        <button *ngIf="isAdmin" class="btn btn-danger" (click)="updatePaymentStatus(row[1], 'no_show', currentFormData.hostel)">Didn't Show Up</button>
        
        <button *ngIf="!isAdmin" class="btn btn-success me-2" (click)="updatePaymentStatus(row[1], 'paid')">Paid</button>
        <button *ngIf="!isAdmin" class="btn btn-danger" (click)="updatePaymentStatus(row[1], 'no_show')">Didn't Show Up</button>
      </div>
      <div *ngIf="row[6]" class="text-danger mt-2">
              <small><strong>Warning: {{ row[7] }} excessive no-shows</strong></small>
            </div>
      </td>
    </tr>
  </ng-container>
</tbody>
  </table>
  </div>
    <p  *ngIf="!isHistoryEmpty(guestHistory['body'])">No Guest</p>
  </div>

</div>
