<div class="container">
  <div>
      <h1 style="border-bottom:3px solid #ffc42b">Guest Entry</h1>
      <button id="new-request-btn" class="btn btn-primary" [routerLink]="['/apply-guest-entry']">New Request</button>
  </div>

  <hr>
  <div class="guest" >
    <h2>{{guest.name}}-{{guest.id}}-{{guest.hostel}} </h2>
  </div>
  <div>
      <table *ngIf="guest_data && guest_data.length" class="table">
          <thead>
            <tr id="column-headers">
              <ng-container *ngFor="let header of ['Token No.', 'Hostel', 'Date', 'Meal', ' ']">
                <th scope="col">{{header}}</th>
              </ng-container>
            </tr>
      
          </thead>
          <tbody id="booking-table">
            <ng-container *ngFor="let guest of guest_data">
              <tr>
                <ng-container *ngFor="let i of [0,1,2,3]">
                  <td>{{guest[i]}}</td>
                </ng-container>
                <td>
                  <app-guest-status-button [meal]="guest[3]" [date]="guest[2]" [guestHostel]="guest[1]" [guestStatus]="guest[4]" (updateList)="updateList()" ></app-guest-status-button>
                </td>
              </tr>
            </ng-container>
          </tbody>
      </table>
  </div>
</div>