.container{
    padding: 4%;
    background-color: #fffcf4;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
button{
    background-color: #28282b;
    color: white;
    border: 0px;
    border-radius: 4px;
}
button:hover{
    background-color: #FFC42B;
}
#column-headers{
    color: #FFC42B;
    font-weight: 500;
}
#booking-table{
border-top: 2px #FFC42B solid;
}
@media screen and (max-width: 431px) {
    .container{
        padding: 0% 4% 4% 4%;
        background-color: #28272c;
    }
    h1, #new-request-btn, hr, .guest, .table{
        display: none;
    }
    
}