<div *ngIf="guestStatus && process===false" class="desktop-only">
  <button type="button" class="status-button mode-active" id="1" (click)="toggl()">
    <div class="container px-1 py-0">
      <div class="row">
        <div class="col px-0 align-items-center ">
          <div class="align-self-center indicator-circle mode-active"></div>
        </div>
        <div style="color:#000000" class="col px-1 py-0">Withdraw</div>
      </div>
    </div>
  </button>
</div>
<div *ngIf="!guestStatus && process===false" class="desktop-only">
  <button type="button" class="status-button mode-inactive" id="2" [disabled]="true">
    <div class="container px-1 py-0">
      <div class="row">
        <div class="col px-0 align-items-center ">
          <div class="align-self-center indicator-circle mode-inactive"></div>
        </div>
        <div style="color:#000000" class="col px-1 py-0">Booked</div>
      </div>
    </div>
  </button>
</div>
<div *ngIf="process===true" class="desktop-only">
  <button type="button" class="status-button mode-intermediate" id="3" [disabled]="true">
    <div class="container px-1 py-0">
      <div class="row">
        <div class="col px-1 py-0"> . . . </div>
      </div>
    </div>
  </button>
</div>
<div *ngIf="guestStatus" class="mobile-only">
  <button type="button" class="mobile-button" (click)="toggl()">
    Cancel Booking
  </button>
</div>
<!-- <div *ngIf="!guestStatus" class="mobile-only">
  <button type="button" class="mobile-button" (click)="toggl()">
    Retrive Booking
  </button>
</div> -->