.rollnohostel{
  margin-top:1rem;
  display:flex;
  flex-direction: row;
}
#studentcard {
  max-width:50vw;
  display: flex;
  flex-direction: row;
  background-color: #FFF8E8;
  padding-left: 0px;
  margin-right: 10px;
  padding: 3vh;
  margin-top: 4vh;
}
#rollandhostel{
  color:gray;
}
.toggle {
  position : relative ;
  display : inline-block;
  width : 102px;
  height : 20px;
  background-color: none;
  border-radius: 30px;
  border: 2px solid gray;
}
.toggle:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(186, 179, 179);
  top: 1px;
  left: 1px;
  transition:  all 0.5s;
}
.checkbox:checked + .toggle::after {
  left : 80px;
}
.checkbox:checked + .toggle {
  background-color: #7CDD6C;
}
.checkbox {
  display : none;
}
.img-fluid {
  width: 190px;
  height: 190px;
}
p.tgl{
  color: #FFC42B ;
  margin-right: 2vh;
  font-weight: 700;
}
.cardcontainer{
  margin-left: 6vh;
}
.container-fluid{
  min-height: 100vh;
  background-color:#FFFCF4;
  padding: 4%;
}
.test{
  display: flex;
  align-items: flex-start;
  padding-left: 0%
}
.form-select{
  margin: 2vh;
  border-color: #FFC42B;
  border-width: 2px;
  background-color: #FFF8E8;
}
.btn{
  position: relative;
  z-index: 2;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 12px;
  user-select: none;
  height: 36px;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #28282B;
    
}
.btn:hover{
  background-color: #FFC42B;
}
h2{
  font-family: "Oxygen",Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3rem;
}
.space{
  padding-left: 10px;
  margin-right: 10vh;
}
.active-circle {
  width: 1em;
  margin-top: 0.3em;
  padding: 0%;
  height: 1em;
  background: #7CDD6C;
  border-radius: 50%
}
.inactive-circle {
  width: 1em;
  margin-top: 0.3em;
  padding: 0%;
  height: 1em;
  background: #A8A8A8;
  border-radius: 50%
}
.active-button{
border-radius: 0.5rem;
border-style: solid;
border-width: 0.04rem;
border-color: #ffc42b;
padding-left: 1rem;
padding-right: 1rem;
background-color: transparent;
}
.inactive-button{
border-radius: 0.5rem;
padding-left: 1rem;
padding-right: 1rem;
background-color: transparent;
color: #A8A8A8;
border-style: solid;
border-width: 0.04rem;
border-color: #A8A8A8;
}
.process-button{
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.04rem;
  border-color: #808080;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
}
.rounded_borders{
border-radius: 50000px;
}
.reb-button {
  padding: 10px 16px;
  background-color: #FFC42B; /* Change to your preferred background color */
  color: #28282B; /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth hover effect */
}
.reb-button:hover {
  background-color: #2980b9; /* Change to your preferred hover color */
}
@media screen and (max-width: 431px){
  
}