<!-- <div style="background-color: beige; min-height: 100vh;" class="container-fluid"> -->
<div style="background-color:#FFFCF4; min-height: 100vh;" class="container-fluid">
    <h1>Student Data</h1>
    <div style="justify-content:center ;">
        <div id="studentcard" >
            <div>
                <img class="img-fluid rounded-start" [src]="studentImage" alt="Place image title" *ngIf="!isImageLoading">
            </div>
            <div class="cardcontainer">
                <h5 id="name">{{student.name}}</h5>
                <div class="rollnohostel">
                    <div id="rollandhostel">
                        <p id="rollno">Roll no:</p> 
                        <p id="hostel" style="margin-top:0px;"> Hostel, Room no:<p>
                    </div>                                      
                    <div class="space"> 
                        <p id="studrollno">{{student.id}}</p>
                        <p>Hostel {{student.hostel}} {{student.room}} </p>
                    </div>
                </div>
                <br> 
                <div class="test">
                  <p class="tgl">Status of the card: </p> 
                  <app-card-status-button [rollNumber]="rollNumber" [cardStatus]="student.card_status" ></app-card-status-button>
                </div>
                <div>
                  <button class="reb-button" (click)="openDialog(rollNumber)">
                    Prev Rebates
                  </button>
                </div>
            </div>  
        </div>
    </div>
    <br>
    
    <form #data="ngForm" (ngSubmit)="getMonthData(data)" class="form-inline">
        <div class="input-group mb-6" style="max-width: 80%; ;">
            <select class="form-select" name="month" aria-label="Select a month" aria-placeholder="Select a month" ngModel>
                <option value="" disabled selected>Select a Month</option>
                <option *ngFor="let month of ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']; let i=index" [value]="(i+1).toString()">{{month}}</option>
            </select>
            <select class="form-select" name="year" aria-label="Select a year" aria-placeholder="Select a year" ngModel>
                <option value="" disabled selected>Select a Year</option>
                <option *ngFor="let year of [0,1,2]" value="{{date.getFullYear()-year}}">{{date.getFullYear()-year}}</option>
            </select>
            <button type="submit" class="btn btn-primary">Get</button>
        </div>
    </form>
    <app-table-component *ngIf="mess_data" [data]="mess_data"></app-table-component>
</div>